<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>Destroy Today - Uptime</title>

    <link rel='icon' type='image/png' href='/favicon-<%= locals[:status] %>.png'>
    <link rel='shortcut icon' type='image/png' href='/favicon-<%= locals[:status] %>.png'>

    <link href='/style.css' rel='stylesheet'>

    <script type="text/javascript">
    (function(d) {
      var config = {
        kitId: 'suq4ney',
        scriptTimeout: 3000
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  </head>
  <body class='is-<%= locals[:status] %>'>
    <div class='outer'>
      <div class='inner'>
        <div class='sign'>
          <p class='webfont'>
            This website<br>
            has worked<br>
            <strong><%= locals[:days_since_downtime] %></strong> days<br>
            without<br>
            downtime.
          </p>
        </div>
        <div class='current'>
          <p class='webfont'>
            Currently <strong class='status'><%= locals[:status] %></strong>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
